*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.container {
    @include min-max(32em, 100%, 0);
}

.wrap {
    @include min-max(32em, 120em, 1.5rem);
}