html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.heading-primary {
    font-size: 3rem;
    color: $color-white;
}
.heading-secondary {
    font-weight: 300;
    font-size: 5rem;
    color: $color-grey-light-1;
}

.heading-tertiary {
    font-weight: 400;
    font-size: 1.5rem;
    color: $color-black-1;
}
.heading-loading {
    font-weight: 400;
    font-size: 5rem;
    color: $color-black-1;
    text-align: center;
}

.heading-city-name {
    display: block;
    font-weight: 300;
    font-size: 4rem;
    color: $color-grey-light-2;
    text-align: center;

    &--small {
        font-weight: 400;
        font-size: 2.5rem;
        color: $color-grey-light-3;
    }
}

.date {
    text-align: center;

    &--month {
        display: block;
        margin-bottom: .5rem;
    }

    &--week {
        display: block;
    }
    
}

// Media Queries 

@media (max-width: 490px ) {
    .heading-city-name {
        font-size: 3rem;
    }
}