
$color-button-green: #55c57a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #bdbdbd;
$color-grey-light-3: #757575;

$color-black-1: #000;

$color-white: #fff;

$color-orange-light-1: #ffb74d;
$color-orange-light-2: #ffab40;
$color-orange-light-3: #ff9100;

$color-orange-dark-1: #ff7043;
$color-orange-dark-2: #ff6e40;
$color-orange-dark-3: #ff5722;