.btn {
  color: $color-grey-light-1;
  padding: .9rem 1rem;
  border-radius: 5px;
  text-align: center;

  &--green {
    background-color: $color-button-green;
  }

  &--medium {
    width: 15rem;
  }

  &--small {
    width: 10rem;
  }

  &--btn-link {
    text-decoration: none;
    font-size: 1.3rem;
  }
}
