.form {
    &--center {
        @include absPosition;
    }

    &__group {
        display: flex;

        &--primary {
            align-items: center;
            flex-direction: column;
        }

        &--secondary {
            align-items: center;
        }
    }

    &__input {
        width: 60%;
        padding: 1.3rem 1.5rem; 
        border-radius: 5px;

        &--secondary {
            margin-right: 1rem;
        }
    }
}

