.weather {
  display: flex;
  justify-content: space-between;

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }


  &__icon {
    height: 15rem;
    

    img {
      height: 100%;
      padding: 0 auto;
    }
  }
}

@media (max-width: 960px) {
  .weather {

    &__icon {
      height: 7rem;
    }
  }
}

@media (max-width: 770px) {
  .weather {

    &__icon {
      height: 6rem;
    }
  }
}